<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475764125699-7ngv4s5bljo1oggeupv49mp7poftlqi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475764125699-7ngv4s5bljo1oggeupv49mp7poftlqi3</string>
	<key>API_KEY</key>
	<string>AIzaSyC5qpHDehjf9vmEkJI9INImShTPxq06-k0</string>
	<key>GCM_SENDER_ID</key>
	<string>475764125699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>johnu.FamilyChat</string>
	<key>PROJECT_ID</key>
	<string>familychats-2e71a</string>
	<key>STORAGE_BUCKET</key>
	<string>familychats-2e71a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475764125699:ios:42f9973af76a364a951e36</string>
	<key>DATABASE_URL</key>
	<string>https://familychats-2e71a.firebaseio.com</string>
</dict>
</plist>